@page "/recipes"
@inject IRecipeService RecipeService
@inject IJSRuntime JsRuntime

<PageTitle>Recipes</PageTitle>

<div class="container" style="margin-top:15px; margin-bottom:15px">
    <div class=" btn-group">
        <a href="/recipes/create" class="btn" style="background-color: rgb(225, 215, 198)" role="button">
            Create Recipe
        </a>
    </div>
</div>
<div class="container mt-3">
    <h2>Recipes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Recipe Link</th>
                <th>Description</th>
                <th>Cuisine</th>
                <th>Dificulty</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var recipe in recipesList)
            {
                <tr>
                    <td>@recipe.Id</td>
                    <td>@recipe.Title</td>
                    <td>@recipe.RecipeLink</td>
                    <td>@recipe.Description</td>
                    <td>@recipe.Cuisine</td>
                    <td>@recipe.Dificulty</td>
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="async () => { await DeleteRecipeClick(recipe.Id); }">Delete</button>
                    </td>
                    <td>
                        <div class=" btn-group">
                            <a href="/recipes/@recipe.Id" class="btn btn-success" role="button">Update</a>
                        </div>
                    </td>
                </tr>
            }
        </thead>
        <tbody>
        </tbody>
    </table>



</div>

@code {

    List<RecipeResponseModel> recipesList = new List<RecipeResponseModel>();

    protected override async Task OnInitializedAsync()
    {
        recipesList = await RecipeService.GetAsync();
    }

    public async Task DeleteRecipeClick(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await RecipeService.DeleteAsync(id);

            recipesList = await RecipeService.GetAsync();

            this.StateHasChanged();
        }

    }


}

